<div class="center-align">
  <h2 class="lime lighten-2 z-depth-3">Connexion: </h2>
  <form [formGroup]="marsuForm" (ngSubmit)="login()">
    <div class="form-group">
      <label for="login">Login:</label>
      <input type="text" class="form-control" [ngClass]="{ 'invalid': !marsuForm.controls.login.valid && marsuForm.controls.login.dirty }"
        id="login" formControlName="login">
      <div *ngIf="!marsuForm.controls.login.valid && marsu.controls.login.dirty">
        Utilisateur inconnu
      </div>
    </div>
    <div class="form-group">
      <label for="mdp">Mot de passe: </label>
      <input type="password" class="form-control" id="mdp" formControlName="mdp" [ngClass]="{ 'invalid': !marsuForm.controls.mdp.valid && marsuForm.controls.mdp.dirty }">
    </div>
    <button class="btn waves-effect waves-light pulse lime darken-2" type="submit" name="action" [disabled]="!marsuForm.valid">
      Login
    </button>
  </form>
</div>